<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Domainname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-DomainName" class="form-control" name="row[DomainName]" type="text" value="{$row.DomainName|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-RR" class="form-control" name="row[RR]" type="text" value="{$row.RR|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-Type" class="form-control selectpicker" name="row[Type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.Type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Value')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Value" class="form-control" name="row[Value]" type="text" value="{$row.Value|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
