<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tg_nick')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input readonly id="c-tg_nick" data-rule="required" class="form-control" name="row[tg_nick]" type="text" value="{$row.tg_nick|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tg_account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input readonly id="c-tg_account" data-rule="required" class="form-control" name="row[tg_account]" type="text" value="{$row.tg_account|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tg_group_account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input readonly id="c-tg_group_account" data-rule="required" class="form-control" name="row[tg_group_account]" type="text" value="{$row.tg_group_account|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tg_group_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input readonly id="c-tg_group_name" class="form-control" name="row[tg_group_name]" type="text" value="{$row.tg_group_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Department_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-department_id" data-rule="required" data-source="department/index" class="form-control selectpage" name="row[department_id]" type="text" value="{$row.department_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invite_tg_account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input readonly id="c-invite_tg_account" class="form-control" name="row[invite_tg_account]" type="text" value="{$row.invite_tg_account|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invite_tg_nick')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input readonly id="c-invite_tg_nick" class="form-control" name="row[invite_tg_nick]" type="text" value="{$row.invite_tg_nick|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
